html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/***********************MEDIA QUERIES***********************/
/***********************COLORS & FONTS***********************/
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf");
  font-style: italic;
  font-weight: 500; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiExt.otf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "TimesNewRoman";
  src: url("../fonts/TimesNewRoman/TimesNewRomanPSMT.ttf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf");
  font-style: normal;
  font-weight: 500; }

.header__contact-container, .header__logo-nav-container, .header-nav, .title__container, .about__container, .special_recipes__container, .delightful_exp__container, .delightful_exp__gallery, .amazing_deli__container, .amazing_deli__content, .mobile_app__container, .footer__container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 320px) {
    .header__contact-container, .header__logo-nav-container, .header-nav, .title__container, .about__container, .special_recipes__container, .delightful_exp__container, .delightful_exp__gallery, .amazing_deli__container, .amazing_deli__content, .mobile_app__container, .footer__container {
      width: 100%;
      padding: 0 15px; } }
  @media (min-width: 768px) {
    .header__contact-container, .header__logo-nav-container, .header-nav, .title__container, .about__container, .special_recipes__container, .delightful_exp__container, .delightful_exp__gallery, .amazing_deli__container, .amazing_deli__content, .mobile_app__container, .footer__container {
      width: 750px; } }
  @media (min-width: 1024px) {
    .header__contact-container, .header__logo-nav-container, .header-nav, .title__container, .about__container, .special_recipes__container, .delightful_exp__container, .delightful_exp__gallery, .amazing_deli__container, .amazing_deli__content, .mobile_app__container, .footer__container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .header__contact-container, .header__logo-nav-container, .header-nav, .title__container, .about__container, .special_recipes__container, .delightful_exp__container, .delightful_exp__gallery, .amazing_deli__container, .amazing_deli__content, .mobile_app__container, .footer__container {
      width: 1170px; } }
  @media (min-width: 1500px) {
    .header__contact-container, .header__logo-nav-container, .header-nav, .title__container, .about__container, .special_recipes__container, .delightful_exp__container, .delightful_exp__gallery, .amazing_deli__container, .amazing_deli__content, .mobile_app__container, .footer__container {
      width: 1500px; } }

.wow {
  visibility: hidden; }

.page {
  font-family: "OpenSans", Helvetica, sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 18px; }
  .page a {
    color: #fff;
    font-family: "MyriadPro", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .page a:hover {
    text-decoration: underline;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .page hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0; }
  .page__wrap {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden; }
  .page .btn {
    border-radius: 5px;
    background-color: transparent;
    font-family: "TimesNewRoman", Helvetica, sans-serif;
    border: solid 2px #ffffff;
    outline: none;
    padding: 15px 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer; }
    .page .btn:hover {
      background-color: #fff;
      color: #e7a331; }
  .page .btn-brown {
    background-color: #e7a331 !important; }
    .page .btn-brown:hover {
      background-color: #fff !important;
      border: solid 2px #e7a331; }
  .page .btn-gallery {
    font-size: 15px;
    border: 0;
    padding: 6px 14px; }
    .page .btn-gallery:hover {
      font-size: 15px;
      border: 0;
      padding: 6px 14px; }
  .page h3 {
    font-family: "Pacifico", Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    color: #000000;
    margin: 0 0 16px 0; }
  .page h4 {
    font-family: "TimesNewRoman", Helvetica, sans-serif;
    font-size: 38.3px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 28px 0; }
  .page h6 {
    font-family: "TimesNewRoman", Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase; }

.header {
  position: fixed;
  z-index: 9999;
  width: 100%; }
  .header__wrap {
    min-height: 127px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0; }
  .header__contact-wrap {
    height: 34px;
    width: 100%;
    background-color: #ffffff; }
    @media (max-width: 480px) {
      .header__contact-wrap {
        height: 70px; } }
  .header__contact-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (max-width: 480px) {
      .header__contact-container {
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap; } }
  .header__contact__info {
    padding: 7px 0 14px 0;
    font-family: "OpenSans", Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    color: #2b2b2b; }
    @media (max-width: 480px) {
      .header__contact__info {
        font-size: 12px;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .header__contact__info span {
      margin-right: 37px; }
      @media (max-width: 480px) {
        .header__contact__info span {
          margin-right: 10px; }
          .header__contact__info span:last-child {
            margin-right: 0; } }
      .header__contact__info span:before {
        font-weight: 700;
        font-size: 18px;
        padding: 0 7px 0 0;
        color: #e7a331; }
  .header__contact__social {
    color: #e7a331;
    padding: 7px 0 9px 0; }
    @media (max-width: 1024px) {
      .header__contact__social {
        display: none; } }
    .header__contact__social span {
      padding: 0 4px; }
      .header__contact__social span:last-child {
        padding: 0 0 0 8px; }
  .header__logo-nav-container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    min-height: 92px;
    padding: 0; }
    @media (max-width: 480px) {
      .header__logo-nav-container {
        min-height: 30px; } }
  .header__logo {
    width: 339px;
    height: 339px;
    margin-top: -200px;
    background-color: #e7a331;
    position: relative;
    z-index: 9999;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
    @media (max-width: 1024px) {
      .header__logo {
        width: 180px;
        height: 180px;
        margin-top: -90px; } }
    @media (max-width: 480px) {
      .header__logo {
        width: 90px;
        height: 70px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        margin-top: 0; } }
    .header__logo img {
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 140px;
      left: 120px;
      bottom: 0;
      right: 0;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
      @media (max-width: 1024px) {
        .header__logo img {
          width: 60%;
          height: auto;
          top: 65px;
          left: 48px; } }
      @media (max-width: 480px) {
        .header__logo img {
          width: 90%;
          height: auto;
          top: 0px;
          left: 0px;
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; } }

.header-nav {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .header-nav__responsive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 480px) {
      .header-nav__responsive {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    .header-nav__responsive .header-nav__item {
      display: block; }
      .header-nav__responsive .header-nav__item a {
        display: block;
        text-align: center;
        padding: 20px 0; }
        .header-nav__responsive .header-nav__item a:first-child {
          padding: 30px 0 20px 0; }
  .header-nav__item {
    display: inline-block;
    margin-right: 40px;
    letter-spacing: 1px;
    font-family: "MyriadPro", Helvetica, sans-serif;
    padding: 1.4px 1.2px; }
    @media (max-width: 1024px) {
      .header-nav__item a {
        display: none; } }
  .header-nav__button {
    color: #e7a331 !important;
    padding: 14px 25px 12px 25px !important;
    font-size: 17px !important;
    font-family: "MyriadPro", Helvetica, sans-serif !important; }
    @media (max-width: 1024px) {
      .header-nav__button {
        margin-right: 70px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 25px 70px 0 0; } }
    @media (max-width: 480px) {
      .header-nav__button {
        padding: 10px 12px 8px 12px !important;
        font-size: 14px !important;
        margin: 12px 70px 0 0; } }
    .header-nav__button:hover {
      background-color: #fff; }
  .header-nav .icon {
    display: none; }
    @media (max-width: 1024px) {
      .header-nav .icon {
        font-size: 28px;
        float: right;
        display: block;
        position: absolute;
        text-decoration: none !important;
        top: 20px;
        right: 15px; } }

.title {
  min-height: 799px;
  width: 100%;
  background-image: url(../img/title/title.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 34px 0 0 0; }
  .title__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .title__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); }
    @media (max-width: 1366px) {
      .title__container {
        width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 10) + ( 40px * (10 - 1)));
        width: calc( (((100% - (40px * (12 - 1))) / 12) * 10) + ( 40px * (10 - 1))); } }
    .title__container h1 {
      font-family: "Pacifico", Helvetica, sans-serif;
      font-size: 106.4px;
      text-align: center;
      color: #ffffff;
      text-shadow: -1.5px 2.6px 7px #000000;
      margin: 50px 0 13px 18px;
      padding: 0 0 46px 0; }
      @media (max-width: 768px) {
        .title__container h1 {
          margin: 0; } }
    .title__container h2 {
      font-family: TimesNewRomanPSMT;
      font-size: 25px;
      text-align: center;
      color: #ffffff;
      line-height: 1.2;
      padding: 0 0 28px 0; }
  .title__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .title__button button {
      padding: 10px 37px !important; }

.about {
  min-height: 616px;
  width: 100%;
  background-image: url(../img/about/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .about__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    height: 100%;
    padding: 114px 0 60px 0;
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 7) + ( 40px * (7 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 7) + ( 40px * (7 - 1))); }
    @media (max-width: 1366px) {
      .about__container {
        width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 10) + ( 40px * (10 - 1)));
        width: calc( (((100% - (40px * (12 - 1))) / 12) * 10) + ( 40px * (10 - 1))); } }
    @media (max-width: 768px) {
      .about__container {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    .about__container p {
      color: #4a4a4a;
      font-size: 15px;
      font-family: "TimesNewRoman", Helvetica, sans-serif;
      padding: 0 0 28px 0;
      line-height: 1.5; }
  .about__image {
    margin: 0 83px 0 0; }
    @media (max-width: 768px) {
      .about__image {
        margin: 0 0 30px 0; } }
    @media (max-width: 768px) {
      .about__image img {
        width: 100%;
        height: auto; } }
  .about__image2 {
    position: absolute;
    bottom: 0;
    right: 0; }
    .about__image2 img {
      width: 18vw;
      height: 20vw;
      max-width: 538px;
      max-height: 546px; }

.special_recipes {
  min-height: 980px;
  width: 100%;
  background-image: url(../img/special_recipes/sprep.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .special_recipes__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
    @media (max-width: 768px) {
      .special_recipes__overlay {
        position: relative; } }
  .special_recipes__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    @media (max-width: 768px) {
      .special_recipes__container {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        padding: 20px 0; } }
  .special_recipes__left-image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 105; }
    .special_recipes__left-image img {
      width: 13vw;
      height: 22vw;
      margin-left: -2.5vw;
      margin-bottom: -12vw;
      max-width: 283px;
      max-height: 490px; }
  .special_recipes__content {
    background-image: url(../img/special_recipes/sprep_text.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 49px 55px 53px 41px;
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 4) + ( 40px * (4 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 4) + ( 40px * (4 - 1)));
    z-index: 206; }
    @media (max-width: 768px) {
      .special_recipes__content {
        width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 12) + ( 40px * (12 - 1)));
        width: calc( (((100% - (40px * (12 - 1))) / 12) * 12) + ( 40px * (12 - 1)));
        margin: 0 0 20px 0; } }
    .special_recipes__content p {
      color: #4a4a4a;
      font-size: 15px;
      font-family: "TimesNewRoman", Helvetica, sans-serif;
      padding: 0 0 28px 0;
      line-height: 1.5; }
  .special_recipes__image {
    position: relative;
    left: -33px; }
    @media (max-width: 768px) {
      .special_recipes__image {
        left: 0; } }
    .special_recipes__image img {
      width: 100%;
      height: auto; }

.delightful_exp {
  min-height: 1016px;
  width: 100%;
  background-image: url(../img/delightful_exp/delightful_exp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .delightful_exp__container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%; }
    @media (max-width: 768px) {
      .delightful_exp__container {
        padding: 0; } }
  .delightful_exp__title {
    margin-top: 93px; }
    .delightful_exp__title h3, .delightful_exp__title h4 {
      text-align: center; }
    .delightful_exp__title h4 {
      margin-bottom: 9.1px; }
  .delightful_exp__gallery {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 57.9px 0 60px 0;
    position: relative;
    z-index: 209; }
    @media (max-width: 768px) {
      .delightful_exp__gallery {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    .delightful_exp__gallery img {
      display: block;
      width: 100%;
      height: auto; }
    .delightful_exp__gallery-item {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .delightful_exp__gallery-item {
          margin: 0 0 20px 0; } }
      .delightful_exp__gallery-item-text {
        position: absolute;
        margin: 0 auto;
        width: 80%;
        height: 80%;
        opacity: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .delightful_exp__gallery-item-text span {
          font-family: "TimesNewRoman", Helvetica, sans-serif;
          font-size: 41.3px;
          text-align: center;
          color: #ffffff;
          margin: 32px 0 23px 0; }
        .delightful_exp__gallery-item-text:hover {
          background: rgba(0, 0, 0, 0.8);
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          cursor: pointer;
          opacity: 1; }

.amazing_deli {
  min-height: 2134px;
  width: 100%;
  background-image: url(../img/amazing/amazing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .amazing_deli__right-image {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 105; }
    .amazing_deli__right-image img {
      width: 21vw;
      height: 21vw;
      margin-right: -10vw;
      margin-top: -10vw;
      max-width: 500px;
      max-height: 510px; }
  .amazing_deli__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
    @media (max-width: 768px) {
      .amazing_deli__overlay {
        position: relative; } }
  .amazing_deli__container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%; }
  .amazing_deli__title {
    margin-top: 100px; }
    .amazing_deli__title h3, .amazing_deli__title h4 {
      text-align: center;
      color: #fff; }
    .amazing_deli__title h4 {
      margin-bottom: 57px; }
  .amazing_deli__image2 {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
            transform: scale(-1, 1); }
    .amazing_deli__image2 img {
      width: 18vw;
      height: 20vw;
      max-width: 538px;
      max-height: 546px; }
  .amazing_deli__content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 64px 0;
    position: relative;
    z-index: 208; }
    @media (max-width: 768px) {
      .amazing_deli__content {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  .amazing_deli__image img {
    width: 100%;
    height: auto; }
  .amazing_deli__info {
    position: relative;
    background-color: #fff;
    padding: 39px 55px 47px 58px;
    z-index: 705; }
    @media (max-width: 768px) {
      .amazing_deli__info {
        margin: 20px 0 !important; } }
    @media (max-width: 768px) {
      .amazing_deli__info {
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; } }
    .amazing_deli__info h3 {
      margin: 0 0 29px 10px; }
    .amazing_deli__info-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .amazing_deli__info-item {
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; } }
      .amazing_deli__info-item span {
        font-family: "TimesNewRoman", Helvetica, sans-serif;
        font-size: 18px; }
        @media (max-width: 768px) {
          .amazing_deli__info-item span:last-child {
            margin: 10px 0; } }
      .amazing_deli__info-item img {
        display: block;
        margin: 10px 4px; }

.mobile_app {
  min-height: 704px;
  width: 100%;
  background-image: url(../img/mobile_app/mobile_app.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .mobile_app__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    @media (max-width: 480px) {
      .mobile_app__container {
        margin: 30px 0;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  .mobile_app__image {
    margin-top: -50px; }
    @media (max-width: 480px) {
      .mobile_app__image {
        margin: 0 0 30px 0; } }
  .mobile_app__content {
    margin: -52px 0 0 73px; }
    @media (max-width: 480px) {
      .mobile_app__content {
        margin: 0 20px; } }
    .mobile_app__content h3, .mobile_app__content h4 {
      color: #fff; }
    .mobile_app__content h3 {
      margin: -69px 0 15px 0; }
      @media (max-width: 480px) {
        .mobile_app__content h3 {
          margin: 0;
          text-align: center; } }
    .mobile_app__content h4 {
      font-size: 95.2px;
      margin: 0 0 -5px 0; }
      @media (max-width: 480px) {
        .mobile_app__content h4 {
          font-size: 72px;
          margin: 5px 0;
          text-align: center; } }
    .mobile_app__content h6 {
      font-size: 30px;
      text-align: left;
      margin: 0 0 52px 0; }
      @media (max-width: 480px) {
        .mobile_app__content h6 {
          text-align: center; } }
  .mobile_app__stores img {
    display: block;
    float: left;
    margin: 0 31px 0 0; }
    @media (max-width: 480px) {
      .mobile_app__stores img {
        float: none;
        margin: 20px 0; } }

.footer {
  min-height: 475px;
  width: 100%;
  background-image: url(../img/footer/footer.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  color: #fff; }
  .footer__left-image {
    position: absolute;
    left: 0;
    top: 73px;
    z-index: 105; }
    .footer__left-image img {
      width: 13vw;
      height: 13vw;
      margin-left: -7vw;
      max-width: 785px;
      max-height: 785px; }
  .footer__right-image {
    position: absolute;
    right: 0;
    top: 73px;
    z-index: 105; }
    .footer__right-image img {
      width: 13vw;
      height: 13vw;
      margin-right: -7vw;
      max-width: 500px;
      max-height: 510px; }
  .footer__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    padding: 64px 0 40px 0;
    position: relative;
    z-index: 206; }
    @media (max-width: 768px) {
      .footer__container {
        padding: 64px 10px 40px 10px;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .footer__container-item {
      width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 4) + ( 40px * (4 - 1)));
      width: calc( (((100% - (40px * (12 - 1))) / 12) * 4) + ( 40px * (4 - 1))); }
      @media (max-width: 768px) {
        .footer__container-item {
          width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
          width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); } }
      @media (max-width: 480px) {
        .footer__container-item {
          width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 12) + ( 40px * (12 - 1)));
          width: calc( (((100% - (40px * (12 - 1))) / 12) * 12) + ( 40px * (12 - 1))); } }
      .footer__container-item p {
        text-align: center;
        line-height: 1.4;
        padding: 0 0 25px 0; }
      .footer__container-item h3 {
        text-align: center;
        color: #fff; }
      .footer__container-item-content {
        padding: 63px 56px; }
        @media (max-width: 768px) {
          .footer__container-item-content {
            padding: 63px 0; } }
      .footer__container-item-social {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 0 60px 0; }
        .footer__container-item-social span {
          padding: 0 8px;
          font-size: 26px;
          color: #e7a331; }
      .footer__container-item form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .footer__container-item form input, .footer__container-item form textarea {
          width: 100%;
          border-radius: 5px;
          background-color: #323232;
          border: 0;
          outline: 0;
          padding: 17px 23px 16.5px 23px;
          margin: 5.7px 0;
          color: #fff;
          font-size: 15px;
          font-family: "TimesNewRoman", Helvetica, sans-serif;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
        .footer__container-item form textarea {
          resize: vertical; }
        .footer__container-item form button {
          margin-top: 5.7px;
          border: 0 !important;
          font-size: 15px !important;
          text-align: center; }
          .footer__container-item form button:hover {
            border: 0 !important; }
