extends template

block content
    +title({
        "items": [
            {
                "title": 'Foody Love',
                "subtitle": 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.',
                "button": 'Click here'
            }
        ]
    })
    +about({
        "items": [
            {
                "title": 'WE ARE TASTY',
                "button": 'Click here'
            }
        ]
    })
    +special_recipes({
        "items": [
            {
                "title": 'Taste of Precious',
                "button": 'Click here'
            }
        ]
    })
    +delightful_exp()
    +amazing_deli({
        "items": [
            {
                "name": " Tuna Roast Source........................................................",
                "price": "$25.5",
                "img": "./img/amazing/amazing_icon.png"
            },
            {
                "name": " Tuna Roast Source........................................................",
                "price": "$25.5",
                "img": "./img/amazing/amazing_icon.png"
            },
            {
                "name": " Tuna Roast Source........................................................",
                "price": "$25.5",
                "img": "./img/amazing/amazing_icon.png"
            },
            {
                "name": " Tuna Roast Source........................................................",
                "price": "$25.5",
                "img": "./img/amazing/amazing_icon.png"
            },
            {
                "name": " Tuna Roast Source........................................................",
                "price": "$25.5",
                "img": "./img/amazing/amazing_icon.png"
            },
        ]
    })
    +mobile_app()