mixin delightful_exp()
    +b.SECTION.delightful_exp#delightful
        +e.DIV.container
            +e.DIV.title
                h3 Delightful
                h4 Experience
            +e.DIV.gallery
                +e.DIV.gallery-item
                    img(src="./img/delightful_exp/gallery/img1.png")
                    +e.DIV.gallery-item-text
                        h6 Italian Source Mushroom
                        span $12
                        button(class="btn btn-brown btn-gallery") Click here
                +e.DIV.gallery-item
                    img(src="./img/delightful_exp/gallery/img2.png")
                    +e.DIV.gallery-item-text
                        h6 Italian Source Mushroom
                        span $12
                        button(class="btn btn-brown btn-gallery") Click here
                +e.DIV.gallery-item
                    img(src="./img/delightful_exp/gallery/img3.png")
                    +e.DIV.gallery-item-text
                        h6 Italian Source Mushroom
                        span $12
                        button(class="btn btn-brown btn-gallery") Click here
                +e.DIV.gallery-item
                    img(src="./img/delightful_exp/gallery/img4.png")
                    +e.DIV.gallery-item-text
                        h6 Italian Source Mushroom
                        span $12
                        button(class="btn btn-brown btn-gallery") Click here
            +e.DIV.gallery
                +e.DIV.gallery-item
                    img(src="./img/delightful_exp/gallery/img5.png")
                    +e.DIV.gallery-item-text
                        h6 Italian Source Mushroom
                        span $12
                        button(class="btn btn-brown btn-gallery") Click here
                +e.DIV.gallery-item
                    img(src="./img/delightful_exp/gallery/img6.png")
                    +e.DIV.gallery-item-text
                        h6 Italian Source Mushroom
                        span $12
                        button(class="btn btn-brown btn-gallery") Click here
                +e.DIV.gallery-item
                    img(src="./img/delightful_exp/gallery/img7.png")
                    +e.DIV.gallery-item-text
                        h6 Italian Source Mushroom
                        span $12
                        button(class="btn btn-brown btn-gallery") Click here
                +e.DIV.gallery-item
                    img(src="./img/delightful_exp/gallery/img8.png")
                    +e.DIV.gallery-item-text
                        h6 Italian Source Mushroom
                        span $12
                        button(class="btn btn-brown btn-gallery") Click here
