mixin mobile_app()
    +b.SECTION.mobile_app#app
        +e.DIV.container
            +e.DIV.image
                img(src="./img/mobile_app/mobile_app_img.png")
            +e.DIV.content
                h3 Happy to Announce 
                h4 Mobile App
                h6 is Available in every OS platform.
                +e.DIV.stores
                    img(width="243" height="84" src="./img/mobile_app/mobile_app_img_play.png")
                    img(width="269" height="84" src="./img/mobile_app/mobile_app_img_store.png")