mixin special_recipes(data)
    +b.SECTION.special_recipes#special
        +e.DIV.overlay
            +e.DIV.container
                +e.DIV.left-image
                    img(src="./img/special_recipes/sprep_plate.png")
                +e.DIV.content
                    each item in data.items
                        h3 Special Recipes
                        h4=item.title
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                        p dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesettingdard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
                        +e.DIV.button
                            button(class="btn btn-brown")=item.button
                +e.DIV.image
                    img(src="./img/special_recipes/sprep_img.png")